button {
    display            : inline-block;
    font-weight        : 400;
    color              : #fff;
    background-color   : #28a745;
    border-color       : #28a745;
    text-align         : center;
    vertical-align     : middle;
    -webkit-user-select: none;
    -moz-user-select   : none;
    -ms-user-select    : none;
    user-select        : none;
    border             : 1px solid transparent;
    padding            : .25rem .5rem;
    font-size          : .875rem;
    line-height        : 1.5;
    border-radius      : .2rem;
    transition         : color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

button:focus {
    outline         : 0;
    color           : #fff;
    box-shadow: 0 0 0 0.2rem rgba(40,167,69,.5);
}

.shadow {
    display: flex;
    justify-content: center;
    margin: 50px;
    padding: 5px;
    border-radius: 4px;
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)!important;
}